/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.footer {
    --footer-width: 1000px;
    --footer-background: #f5f5f7;
    --footer-border-color: #d2d2d7;
    --footer-text-color: #464646;
    --footer-link-color: #424245;
    --footer-notes-font-size: 12px;

    color: var(--footer-text-color);
    background: var(--footer-background);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
}

.footer section {
    max-width: var(--footer-width);
}

.footer section.footer-notes {
    font-size: var(--footer-notes-font-size);
}

.footer section.footer-notes a {
    color: var(--footer-link-color);
}


/* Footer Nav */
.footer .footer-nav {
    --footer-nav-title-font: 13px;
    --footer-nav-item-list-font: 13px;

    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100vw - 40px);
}

.footer .footer-nav .foot-nav-cols {
    width: 100%;
}

.footer .footer-nav h3 {
    padding: 10px 0;
    font-size: var(--footer-nav-title-font);
    font-weight: 500;
}

.footer .footer-nav li {
    list-style: none;
    margin: 7px 0;
    font-size: var(--footer-nav-item-list-font);
}

.footer .footer-nav li:hover {
    text-decoration: underline;
}



/* Footer Bottom */
.footer-bottom {
    --font-size: 13px;

    width: calc(100vw - 40px);
    margin-top: 10px;
    width: calc(100vw - 40px);
}

.footer-bottom li {
    list-style: none;
}

.footer-bottom .more-links {
    font-size: var(--font-size);
    padding: 10px 0;
    border-bottom: 1px solid #bebec5;
}

.footer-bottom .more-links a {
    color: rgb(65, 147, 213);
}

.footer-bottom .copyright-section {
    padding-top: 10px;
    font-size: var(--font-size);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.footer-bottom .copyright-section .copyrigts-details {
    width: -webkit-fill-available;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-bottom .copyright-section .copyrigts-details .terms-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-bottom .copyrigts-details .terms-links li {
    padding: 0 10px;
    border-right: 1px solid #bebec5;
}

.footer-bottom .copyrigts-details .terms-links li:last-child {
    border: none;
}